* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 12px;
    width: 300px;
    margin-top: 50px;
}

.card-image {
    width: 100%
}

.card-image img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}

.text {
    margin: 16px 5px;
}

.heading-text {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 8px;
}

.subheading-text {
    text-align: center;
    color: hsl(220, 15%, 55%);
}